@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {

    font-size: 20px;
    line-height: 1.5;
    background-color: #d7f7d7;
    font-family: "Montserrat", sans-serif;

}

img {

    width: 700px;

}